.scoreboard-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.rank-panel {
  width: 35rem;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid var(--mat-sys-outline);
  overflow-y: auto;
}

.rank-title {
  margin: 0 0 1rem 0;
  text-align: center;
}

.rank-table-container {
  height: calc(100% - 2.5rem);
  overflow: auto;

  table {
    table-layout: fixed;
    width: 100%;

    .mat-column-id {
      width: 17.5%;
    }

    .mat-column-group {
      width: 17.5%;
    }

    .mat-column-name {
      width: 25%;
    }

    .mat-column-totalDuration {
      width: 20%;
    }

    .mat-column-averageDuration {
      width: 20%;
    }
  }
}

.map-panel {
  width: 100%;
  height: 100%;
}

mgl-map {
  width: 100%;
  height: 100%;
}


