.fox-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--mat-sys-primary);
}

.status-icons > .mat-icon {
  height: fit-content;
  width: fit-content;
  font-size: var(--mat-sys-body-medium-size);
}

.button-group {
  height: 100%;
  align-items: center;
}
