@use 'sass:color';

.app-toolbar {
  display: flex;
  align-items: center;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
}

.app-title {
  margin-left: 1rem;
  margin-right: 2rem;
}

.nav-active {
  background-color: color-mix(in srgb,var(--mat-sys-primary) 10%,transparent);
}